@model BusinessBaseDecorator
@{
    Layout = "_CRUDLayout";
}

<dom-module id="aswd-userprofileedit">
    <template>
        <style include="shared-styles"></style>
        <div class="inputs">
            @Html.PolEditor(Model, "email")
            @Html.PolEditor(Model, "password")
            @Html.PolEditor(Model, "name")
            @Html.PolEditor(Model, "surname")
        </div>
    </template>
    <script>
    Polymer({
        is: 'aswd-userprofileedit',
        behaviors: [AWSLBehaviors.ElementBehavior],
    });
    </script>
</dom-module>