@{
    int? idappuser = AppUser.IDAppUser(Context);
    AppUser currentUser = AppUser.GetAppUser(Context);

    Layout = "";
}
<link rel="import" href="/lib/polymer/polymer.html">
<link rel="import" href="/lib/app-route/app-location.html">
<link rel="import" href="/lib/app-route/app-route.html">
<link rel="import" href="/lib/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="/lib/app-layout/app-layout.html">
<link rel="import" href="/lib/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="/lib/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="/lib/app-layout/app-header/app-header.html">
<link rel="import" href="/lib/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="/lib/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="/lib/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/lib/iron-pages/iron-pages.html">
<link rel="import" href="/lib/iron-selector/iron-selector.html">
<link rel="import" href="/AWSLib/awsl-main-behavior">

<dom-module id="aswd-main">
    <template>
        <style include="shared-styles"></style>
        <style>
            :host {
                display: block;
            }

            .drawer-list {
                margin: 0 20px;
            }

            .drawer-list a {
                display: block;
                padding: 0 16px;
                line-height: 40px;
                text-decoration: none;
                color: var(--app-secondary-color);
            }

            .drawer-list a.iron-selected {
                color: black;
                font-weight: bold;
            }

            .drawer-list a.subroute {
                padding-left: 32px;
            }

            iron-pages {
                @@apply(--layout-flex);
            }

            paper-spinner {
                margin-top: 100px;
                margin-left: 200px;
            }
        </style>
        <app-location use-hash-as-path route="{{route}}"></app-location>
        <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>
        <app-drawer-layout fullbleed="" responsive-width="1024px">
            <app-drawer>
                <app-toolbar>Menu</app-toolbar>
                <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
                    <a name="Customer" href="/#/Customer">Customers</a>
                    <a name="CustomerType" href="/#/CustomerType">Customer types</a>
                    <a name="CustomerRanking" href="/#/CustomerRanking">Customer ranking</a>
                    @if (currentUser["su"].NoNullBool())
                    {
                    <a name="User" href="/#/User">Users</a>
                    <a name="Profile" href="/#/Profile">My profile</a>
                    }
                </iron-selector>
            </app-drawer>
            <app-header-layout>
                <app-header fixed="">
                    <app-toolbar>
                        <paper-icon-button icon="menu" drawer-toggle=""></paper-icon-button>
                        <div title="">[[mainTitle]]</div>
                        <div>Hello @currentUser.Description</div>
                        <paper-icon-button id="exit" icon="exit-to-app" on-tap="_exit"></paper-icon-button>
                    </app-toolbar>
                </app-header>
                <iron-pages role="main" selected="[[page]]" attr-for-selected="name" id="pages">
                    <app-customer name="Customer" oname="Customer" route="{{subroute}}"><paper-spinner active></paper-spinner></app-customer>
                    <app-customertype name="CustomerType" oname="CustomerType" route="{{subroute}}"><paper-spinner active></paper-spinner></app-customertype>
                    <app-customerranking name="CustomerRanking" oname="CustomerRanking" route="{{subroute}}"><paper-spinner active></paper-spinner></app-customerranking>
                    @if (currentUser["su"].NoNullBool())
                    {
                    <app-user name="User" oname="AppUser" route="{{subroute}}"><paper-spinner active></paper-spinner></app-user>
                    <aswd-profile name="Profile"><paper-spinner active></paper-spinner></aswd-profile>
                    }
                </iron-pages>
            </app-header-layout>
        </app-drawer-layout>
    </template>
    <script>
    Polymer({
        is: 'aswd-main',
        behaviors: [ AWSLBehaviors.MainBehavior ],
        properties: {
            page: {
                type: String,
                reflectToAttribute: !0,
                observer: "_pageChanged"
            },
            route: {
                type: Object,
                notify: true
            }
        },
        observers: [
            "_routePageChanged(routeData.page)",
        ],
        _routePageChanged: function (newPage) {
            if (newPage === undefined || newPage == "") {
                window.location = "/#/Customer";
                return;
            }
            this.page = newPage || "Customer";
        },
        _pageChanged: function (newPage) {
            var onload = function () {
                this.async(function () {
                    var showed = this.$.pages.children[this.$.pages.selected];

                    if (showed.refresh !== undefined) {
                        showed.refresh();
                    }
                });
            };

            if (newPage == "Profile") {
                this.importHref('@("/Elements/Load/Profile/UserProfile/AppUser/" + idappuser)', onload, null, !0)
            }
            else {
                this.importHref('@("/Elements/LoadTemplate/ListEdit/" + idappuser)' + '?e=' + newPage, onload, null, !0)
            }
        },
        _exit: function () {
            window.location = "/Home/Exit";
        },
    });
    </script>
</dom-module>
