<link rel="import" href="../lib/polymer/polymer.html">

<script>
    var AWSLBehaviors = AWSLBehaviors || {};

    (function () {
        AWSLBehaviors.ControlBehavior = {
            properties: {
                dataField: {
                    type: String
                },
                value: {
                    type: String,
                    notify: true,
                    observer: '_valueChanged'
                },
                isCustomControl: {
                    type: Boolean,
                    value: true
                },
                alwaysFloatLabel: {
                    type: Boolean,
                    value: !0
                },
                noLabelFloat: {
                    type: Boolean,
                    value: false
                },
                required: {
                    type: Boolean,
                    value: false
                },
                onlynew: {
                    type: Boolean,
                    value: false
                },
                readonly: {
                    type: Boolean,
                    value: false
                },
                containerElement: {
                    type: Object,
                    value: function () { return null; }
                },
                rootEditor: {
                    type: Object,
                    value: function () { return null; },
                },
            },
            listeners: {
                'iron-form-element-register': '_nothing',
                'iron-form-element-unregister': '_nothing',
            },
            _computeReadOnly: function (readonly, onlynew) {
                var result = readonly;

                if (!result && onlynew)
                {
                    try
                    {
                        result = !this.rootEditor.lastFromServer.isNew;
                    }
                    catch(ede)
                    {
                    }
                }

                return result;
            },

            _valueChanged: function () {
            },

            _nothing: function (e) {
                e.stopPropagation();
            },

            attached: function () {
                this.fire('awsl-element-register');
            },

            detached: function () {
                if (this.containerElement) {
                    this.containerElement.fire('awsl-element-unregister', { target: this });
                }
            },

            getData: function (fromServer) {
            },

            setData: function (toServer) {
            },

            clearData: function () {
            },

            afterGetData: function (fromServer) {
                if (this.onlynew) {
                    this.set('onlynew', false);
                    this.set('onlynew', true);
                }
            }
        };
    })();
</script>
