<link rel="import" href="../lib/polymer/polymer.html">
<link rel="import" href="../lib/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../lib/paper-input/paper-input.html">
<link rel="import" href="../lib/jv-datepicker/app-datepicker-animations.html">
<link rel="import" href="../lib/jv-datepicker/app-datepicker-dialog.html">
<link rel="import" href="/AWSLib/awsl-control-behavior">

<dom-module id="awsl-date">
    <template>
        <style>
            paper-icon-button {
                width: 24px;
                height: 24px;
                padding: 0px 2px 4px 2px;
            }
            app-datepicker-dialog {
                --app-datepicker-selection-bg: #4285f4;
                --app-datepicker-selected-day-bg: #4285f4;
                --app-datepicker-selected-year-color: #4285f4;
                --app-datepicker-today-color: #4285f4;
                --app-datepicker-button-color: #4285f4;
            }
        </style>
        <paper-input label="[[label]]" always-float-label="[[alwaysFloatLabel]]" id="inputDate" readonly on-tap="_openCalendar">
            <paper-icon-button suffix hidden="[[noedit]]" on-tap="_openCalendar" icon="icons:today" alt="calendar" title="calendar">
            </paper-icon-button>
            <paper-icon-button suffix hidden="[[_hideClear(noedit,noclear)]]" on-tap="_clear" icon="clear" alt="clear" title="clear">
            </paper-icon-button>        
        </paper-input>
        <app-datepicker-dialog id="datePicker" locale="[[locale]]" no-animation date="{{_readOnlyDate}}"
                               auto-update-date></app-datepicker-dialog>
    </template>
    <script>
    Polymer({
        is: "awsl-date",
        behaviors: [AWSLBehaviors.ControlBehavior],
        properties: {
            currentDate: {
                type: String,
            },
            noedit: {
                type: Boolean,
                value: !1
            },
            noclear: {
                type: Boolean,
                value: !1
            },
            locale: {
                type: String,
                value: function () {
                    return moment.locale();
                }
            },
            format: {
                type: String,
                value: 'L'
            },
            _readOnlyDate: String,
        },
        observers: [
          '_updateReadOnlyDate(_readOnlyDate)',
        ],
        ready: function () {
            this.$.datePicker.disableDays = [];
        },
        _hideClear: function (noedit, noclear) {
            return noedit || noclear;
        },
        _openCalendar: function(event) {
            event.stopPropagation();
            this.$.datePicker.open();
        },
        _updateReadOnlyDate: function (event) {
            if (this.currentDate !== undefined && this.currentDate != this.$.datePicker.$.datePicker.date) {
                this.currentDate = this.$.datePicker.$.datePicker.date;
                this._setInputDate();
                this.fire('change');
            }
        },
        _setInputDate: function () {
            if (this.currentDate == "")
            {
                this.$.inputDate.value = "";
            }
            else
            {
                this.$.inputDate.value = moment(this.currentDate, "YYYY/MM/DD").format(this.format);
            }
        },
        _clear: function (event)
        {
            event.stopPropagation();
            if (this.currentDate !== undefined && this.currentDate != "")
            {
                this.currentDate = "";
                this._setInputDate();
                this.fire('change');
            }
        },
        getData: function (fromServer) {
            var name = this.dataField;

            if (name !== undefined && name != null) {
                var value = fromServer.data[name];

                if (value === undefined || value == null || value == "")
                {
                    this.clearData();
                }
                else {
                    if (!this.currentDate || this.currentDate != value) {
                        this.currentDate = value;
                        this.$.datePicker.$.datePicker.inputDate = value;
                        this._setInputDate();
                    }
                }
            }
        },
        setData: function (toServer) {
            var name = this.dataField;

            if (name != null) {
                toServer.data[name] = this.currentDate;
            }
        },
        clearData: function ()
        {
            this.currentDate = "";
            this.$.datePicker.$.datePicker.inputDate = "";
            this.$.datePicker.$.datePicker._setDate("");
            this._setInputDate();
        },
        _focus: function()
        {
            this.$.datePicker.open();
        }
    });
    </script>
</dom-module>

