@model BusinessBaseDefinition
@{
    Layout = "";
}
<link rel="import" href="/lib/polymer/polymer.html">

<dom-module id="aswd-userlistitem">
    <template>
        <div class="primary">
            [[item.name]] [[item.surname]]
        </div>
    </template>
    <script>
        Polymer({
            is: 'aswd-userlistitem',
            properties: {
                item: {
                    type: Object,
                },
            },
        });
    </script>
</dom-module>