<link rel="import" href="../lib/polymer/polymer.html">

<link rel="import" href="/AWSLib/awsl-element-behavior">

<script>
    var AWSLBehaviors = AWSLBehaviors || {};

    (function () {
        AWSLBehaviors.CollectionBehavior = {
            properties: {
                isCustomControl: {
                    type: Boolean,
                    value: true
                },
                isChildren: {
                    type: Boolean,
                    value: true
                },
                childelement: {
                    type: String,
                },
                dummyElement: {
                    type: Object,
                },
                path: {
                    type: String,
                },
                childindex: {
                    type: Number,
                },
                items: {
                    type: Array,
                    notify: true
                },
                elements: {
                    type: Array,
                    value: function () { return []; }
                },
                listNames: {
                    type: Array,
                    value: function () { return []; }
                },
                listItems: {
                    type: Array,
                    value: function () { return []; }
                },
                containerElement: {
                    type: Object,
                    value: function () { return null; }
                },
                rootEditor: {
                    type: Object,
                    value: function () { return null; }
                },
                lastFromServer: {
                    type: Object,
                    value: function () { return null; }
                }
            },
            listeners: {
                'awsl-element-register': '_registerElement',
                'awsl-element-unregister': '_unregisterElement',
            },
            wasInitialized: false,
            attached: function () {
                if (this.wasInitialized) {
                    return;
                }

                var newElement = document.createElement(this.childelement);
                newElement.id = "theelement";

                this.dummyElement = Polymer.dom(this.getDummy()).appendChild(newElement);

                Polymer.dom(this.getItemsList()).appendChild(this.getListTemplate());

                this.fire('awsl-element-register');
            },

            getDataNames: function () {
                return this.dummyElement.dataNames;
            },

            getItemsList: function () {
                return null;
            },
            getDummy: function () {
                return null;
            },
            getListTemplate: function() {
                return null;
            },
            detached: function () {
                if (this.containerElement) {
                    this.containerElement.fire('awsl-element-unregister', { target: this });
                }
            },
            _registerElement: function (e) {
                var element = e.target;

                if (element !== this) {
                    this._registerChildElement(element);

                    e.stopPropagation();
                }
            },
            _unregisterElement: function (e) {
                var target = e.detail.target;

                if (target) {
                    var index = this.elements.indexOf(target);
                    if (index > -1) {
                        this.elements.splice(index, 1);
                    }
                }

                e.stopPropagation();
            },
            _registerChildElement: function (element)
            {
                element.containerElement = this;
                element.rootEditor = this.rootEditor;
                this.elements.push(element);

                if (this.lastFromServer != null && element.dataHost !== undefined
                    && element.dataHost.item !== undefined)
                {
                    this.async(function () {
                        this.rootEditor.commonGetData(element, null, element.dataHost.item);
                    });
                }
            },

            getChildData: function (fromServer, lastChanged, mustreload) {
                var reloadItems = mustreload;
                var newItems = fromServer.collections[this.path];

                if (!reloadItems) {
                    if (this.items == null || this.items === undefined) {
                        reloadItems = true;
                    }
                    else {
                        if (this.items.length != newItems.length) {
                            reloadItems = true;
                        }
                        else {
                            for (var index in this.items) {
                                if (this.items[index].keyObject != newItems[index].keyObject) {
                                    reloadItems = true;
                                    break;
                                }
                            }
                        }
                    }
                }

                if (reloadItems) {
                    this.lastFromServer = null;
                    this.items = newItems;
                    this.lastFromServer = fromServer;
                    lastChanged = null;
                }

                this.async(function () {
                    this._internalGetChildData(fromServer, lastChanged, reloadItems, newItems);
                    this.async(function () {
                        this.getItemsList().fire('iron-resize');
                    }, 100);
                }, reloadItems ? 10 : 0);
            },

            _internalGetChildData: function (fromServer, lastChanged, reloadItems, newItems) {

                var indexItem = 0;

                for (var index in this.elements) {
                    var element = this.elements[index];
                    var dataHost = element.dataHost;

                    if (dataHost !== undefined) {
                        var dataItem = newItems[indexItem];

                        if (dataItem !== undefined) {
                            while (dataItem.keyObject != dataHost.item.keyObject) {
                                indexItem++;
                                dataItem = newItems[indexItem];
                            }

                            this.rootEditor.commonGetData(element, lastChanged, dataItem);

                            if (!reloadItems) {
                                for (var indexRefresh in dataHost.item) {
                                    dataHost.item[indexRefresh] = dataItem[indexRefresh];
                                }
                            }

                            indexItem++;
                        }
                    }
                }
            },

            setChildData: function (toServer) {

                var rootElements = toServer.children[this.childindex].elements;

                for (var index in this.elements) {
                    var element = this.elements[index];
                    var dataHost = element.dataHost;

                    if (dataHost !== undefined && dataHost.item !== undefined) {
                        var found = false;
                        var dataElement;

                        for (var index2 in rootElements)
                        {
                            dataElement = rootElements[index2];

                            if (dataElement.key == dataHost.item.keyObject)
                            {
                                found = true;
                                element.setData(dataElement);
                            }
                        }

                        if (!found)
                        {
                            dataElement = {
                                key: dataHost.item.keyObject,
                                data: {}
                            };

                            rootElements.push(dataElement);

                            element.setData(dataElement);
                        }
                    }
                }
            },

            setChanged: function (childrenToServer, elementWithDataFieldName) {
                //dataField
                var rootElements = childrenToServer[this.childindex].elements;
                var dataHost = elementWithDataFieldName.dataHost;

                if (dataHost !== undefined) {
                    var found = false;
                    var dataElement;

                    for (var index2 in rootElements) {
                        dataElement = rootElements[index2];

                        if (dataElement.key == dataHost.item.keyObject) {
                            found = true;

                            elementWithDataFieldName.setData(dataElement);
                        }
                    }

                    if (!found) {
                        dataElement = {
                            key: dataHost.item.keyObject,
                            data: {}
                        };
                        elementWithDataFieldName.setData(dataElement);

                        rootElements.push(dataElement);
                    }
                }
            },
            afterGetData: function (fromServer) {
                for (var el, i = 0; el = this.elements[i], i < this.elements.length; i++) {
                    if (el.afterGetData !== undefined) {
                        el.afterGetData(fromServer);
                    }
                }
            },

        };
    })();
</script>
