<link rel="import" href="../lib/polymer/polymer.html">

<script>
    var AWSLBehaviors = AWSLBehaviors || {};

    (function () {
        AWSLBehaviors.ListToolBarBehavior = {
            properties: {
                title: {
                    type: String,
                },
                fastsearch: {
                    type: String,
                    notify: true
                }
            },
            _onRefresh: function()
            {
                this.fire('awsl-refresh');
            },
            _onNew: function()
            {
                this.fire('awsl-new');
            },
        };
    })();
</script>
