<link rel="import" href="../lib/polymer/polymer.html">
<link rel="import" href="../lib/iron-ajax/iron-ajax.html">

<script>
    var AWSLBehaviors = AWSLBehaviors || {};

    (function () {
        AWSLBehaviors.EditorBehavior = {
            properties: {
                key: {
                    type: String,
                },
                edithref: {
                    type: String,
                },
                editelement: {
                    type: String,
                },
                oname: {
                    type: String,
                },
                info: {
                    type: String,
                },
                theelement: {
                    type: Object,
                    value: function () { return null;}
                },
                ajax: {
                    type: Object
                },
                toserver: {
                    type: Object,
                    value: function () {
                        var obj = {
                            oname: "",
                            formToken: "",
                            sequence: 0,
                            action: "",
                            dataNames: [],
                            root: {
                                key: "",
                                data: [],
                                childreen: []
                            }
                        };

                        return obj;
                    }
                }
            },
            listeners: {
                'awsl-refresh': '_onRefresh',
                'awsl-new': '_onNew',
                'awsl-delete': '_onDelete',
                'awsl-ok': '_onOK',
                'awsl-clear': '_onClear',
                'awsl-close': '_onClose',
                'change': '_onChanged',
                'iron-change': '_onChanged',
            },
            wasAttached: false,
            attached: function () {
                if (this.wasAttached) {
                    return;
                }
                this.wasAttached = true;

                this.ajax = document.createElement('iron-ajax');

                this.ajax.method = 'POST';
                this.ajax.contentType = 'application/json';
                this.ajax.url = "/CRUD/Post";

                this.ajax.addEventListener('response', this.responseHandler.bind(this));
                this.ajax.addEventListener('error', this.responseHandlerError.bind(this));

                this.toserver.oname = this.oname;

                this.async(function () {
                    this.importHref(this.edithref, function (e) {
                        var newElement = document.createElement(this.editelement);
                        newElement.id = "theelement";

                        this.theelement = Polymer.dom(this.getMain()).appendChild(newElement);

                        this._init();
                    }, function (e) {
                        debugger;
                    });
                });
            },
            load: function (newKey) {
                if (newKey !== undefined) {
                    this.key = newKey;
                    this.toserver.root.key = newKey;
                }

                this._doPost("load");
            },
            _doPost: function (action) {
                this.toserver.action = action;

                if (action == "load") {
                    this.toserver.root.data = [];
                    this.toserver.root.childreen = [];
                }
                else if (action == "init") {
                    this.toserver.dataNames = this.theelement.dataNames;
                }
                else {
                    this.theelement.getData(this.toserver.dataNames, this.toserver.root);
                }

                this.ajax.body = this.toserver;
                this.ajax.generateRequest();
            },
            _init: function () {
                this.async(function () {
                    this._doPost("init");
                });
            },
            _onRefresh: function() {
                this.load();
            },
            _onNew: function () {
                this._doPost("new");
            },
            _onDelete: function () {
                this._doPost("delete");
            },
            _onOK: function () {
                this._doPost("ok");
            },
            _onClear: function () {
                this._doPost("clear");
            },
            _onClose: function () {
                this._doPost("clear");
                this.fire('close');
            },
            _onChanged: function (elementChanged) {
                this.debounce('changed', function () {
                    this._doPost("changed");
                }, 100);
            },
            responseHandler: function () {
                var fromServer = this.ajax.lastResponse;

                if (this.toserver.formToken == "")
                {
                    this.toserver.formToken = fromServer.formToken;
                    this.fire('elementready');

                    return;
                }

                if (fromServer.ok) {
                    this.title = fromServer.title;
                    this.async(function () {
                        this.key = fromServer.keyObject;
                        this.toserver.root.key = fromServer.keyObject;

                        this.theelement.setData(fromServer);
                    });

                    if (fromServer.normalMessage != "") {
                        this.showMessage(fromServer.normalMessage);
                    }

                    if (this.$.tool !== undefined)
                    {
                        this.$.tool.setToolBar(fromServer);
                    }

                    if (fromServer.action == "ok") {
                        this.fire('saved');
                    }
                }
                else {
                    if (this.ajax.lastResponse.reload) {
                        window.location.reload();
                    }
                    else {
                        if (fromServer.errorMessage != "") {
                            this.showError(fromServer.errorMessage);
                        }
                    }
                }
            },
            responseHandlerError: function (event) {
                debugger;
            },
            getMain: function () {
                return null;
            },
            showMessage: function(msg) {
            },
            showError: function (msg) {
            }
        };
    })();
</script>
