<link rel="import" href="../lib/polymer/polymer.html">
<link rel="import" href="../lib/iron-ajax/iron-ajax.html">

<script>
    var AWSLBehaviors = AWSLBehaviors || {};

    (function () {
        AWSLBehaviors.EditorBehavior = {
            properties: {
                key: {
                    type: String,
                },
                edithref: {
                    type: String,
                },
                editelement: {
                    type: String,
                },
                oname: {
                    type: String,
                },
                hiderefresh: {
                    type: Boolean,
                    value: false
                },
                hideadd: {
                    type: Boolean,
                    value: false
                },
                hideokcancel: {
                    type: Boolean,
                    value: false
                },
                theelement: {
                    type: Object,
                    value: function () { return null;}
                },
                ajax: {
                    type: Object
                },
                toserver: {
                    type: Object,
                    value: function () {
                        var obj = {
                            oname: "",
                            formToken: "",
                            sequence: 0,
                            action: "",
                            dataNames: [],
                            root: {
                                key: "",
                                data: [],
                                childreen: []
                            }
                        };

                        return obj;
                    }
                }
            },
            wasAttached: false,
            attached: function () {
                if (this.wasAttached) {
                    return;
                }
                this.wasAttached = true;

                this.ajax = document.createElement('iron-ajax');

                this.ajax.method = 'POST';
                this.ajax.contentType = 'application/json';
                this.ajax.url = "/CRUD/Post";

                this.ajax.addEventListener('response', this.responseHandler.bind(this));
                this.ajax.addEventListener('error', this.responseHandlerError.bind(this));

                this.toserver.oname = this.oname;

                this.async(function () {
                    this.importHref(this.edithref, function (e) {
                        var newElement = document.createElement(this.editelement);
                        newElement.id = "theelement";

                        this.theelement = Polymer.dom(this.getMain()).appendChild(newElement);

                        this._init();
                    }, function (e) {
                        debugger;
                    });
                });
            },
            load: function (newKey) {
                if (newKey !== undefined) {
                    this.key = newKey;
                    this.toserver.root.key = newKey;
                }

                this.toserver.action = "load";
                this._doPost();
            },
            _doPost: function () {
                this.ajax.body = this.toserver;
                this.ajax.generateRequest();
            },
            _init: function () {
                this.async(function () {
                    this.toserver.action = "init";
                    this.toserver.dataNames = this.theelement.dataNames;
                    this._doPost();
                });
            },
            _new: function () {
                this.key = "0";
                this.load();
            },
            _onOK: function () {
                this.toserver.action = "ok";

                this.theelement.getData(this.toserver.dataNames, this.toserver.root);

                this._doPost();
            },
            _onClear: function () {
                this.load();
                this.fire('close');
            },
            responseHandler: function (a, b) {
                var fromServer = this.ajax.lastResponse;

                if (this.toserver.formToken == "")
                {
                    this.toserver.formToken = fromServer.formToken;
                    this.fire('elementready');

                    return;
                }

                this.async(function () {
                    this.theelement.setData(fromServer);
                });

                if (fromServer.ok) {
                    if (fromServer.normalMessage != "") {
                        this.showMessage(fromServer.normalMessage);
                    }

                    this.fire('saved');
                }
                else {
                    if (this.ajax.lastResponse.reload) {
                        window.location.reload();
                    }
                    else {
                        if (fromServer.errorMessage != "") {
                            this.showError(fromServer.errorMessage);
                        }
                    }
                }
            },
            responseHandlerError: function (event) {
                debugger;
            },
            getMain: function () {
                return null;
            },
            showMessage: function(msg) {
            },
            showError: function (msg) {
            }
        };
    })();
</script>
