<link rel="import" href="../lib/polymer/polymer.html">
<link rel="import" href="../lib/iron-ajax/iron-ajax.html">
<link rel="import" href="/AWSLib/awsl-list-vaadin-behavior">

<script>
    var AWSLBehaviors = AWSLBehaviors || {};

    (function () {
        AWSLBehaviors.ListEditorVaadinBehaviorImpl = {
            properties: {
                key: {
                    type: String,
                },
                edithref: {
                    type: String,
                },
                editelement: {
                    type: String,
                },
                filterhref: {
                    type: String,
                },
                filterelement: {
                    type: String,
                },
                route: {
                    type: Object,
                    notify: true
                },
            },
            settingRouteKey: false,
            listeners: {
                'awsl-set-route-key': '_setRouteKey'
            },
            _selectedItemChangedNotify: function (key) {
                this.key = key;
                this.set('route.path', '/' + this.key);
            },
            _setRouteKey: function (event) {
                if (this.key != event.detail.key)
                {
                    this.settingRouteKey = true;

                    this.key = event.detail.key;
                    this.set('route.path', '/' + this.key);

                    this.settingRouteKey = false;
                }
            },
            _onSaved: function () {
                this.refresh();
            },
        };

        AWSLBehaviors.ListEditorVaadinBehavior = [AWSLBehaviors.ListVaadinBehavior, AWSLBehaviors.ListEditorVaadinBehaviorImpl]
    })();
</script>
