<link rel="import" href="../lib/polymer/polymer.html">
<link rel="import" href="../lib/iron-ajax/iron-ajax.html">

<script>
    var AWSLBehaviors = AWSLBehaviors || {};

    (function () {
        AWSLBehaviors.ListEditorVaadinBehavior = {
            properties: {
                key: {
                    type: String,
                },
                oname: {
                    type: String,
                },
                edithref: {
                    type: String,
                },
                editelement: {
                    type: String,
                },
                ajaxlist: {
                    type: Object
                },
                items: {
                    type: Array,
                    observer: '_itemsChanged'
                },
                route: {
                    type: Object,
                    notify: true
                },
                lastTitle: {
                    type: String
                },
                fastsearch: {
                    type: String
                }
            },
            wasAttached: false,
            firstResponse: false,
            listeners: {
                'awsl-refresh': 'refresh',
            },
            refresh: function () {
                if (this.lastTitle !== undefined && this.lastTitle != "")
                {
                    this.fire('awsl-set-title', { title: this.lastTitle });
                }
                if (this.wasAttached) {
                    this.ajaxlist.generateRequest();
                }
            },
            _handleFormResponse: function (event) {
                this.items = event.detail.response.data;
                this.lastTitle = event.detail.response.plural;
                this.fire('awsl-set-title', { title: event.detail.response.plural });

                if (this.fastsearch != event.detail.response.fastsearch)
                {
                    this.fastsearch = event.detail.response.fastsearch;
                }

                this.firstResponse = true;
            },
            _handleFormError: function (event) {
                debugger;
            },
            attached: function () {
                if (this.wasAttached) {
                    return;
                }
                this.wasAttached = true;

                this.ajaxlist = document.createElement('iron-ajax');

                this.ajaxlist.method = 'GET';
                this.ajaxlist.contentType = 'application/json';

                this.ajaxlist.addEventListener('response', this._handleFormResponse.bind(this));
                this.ajaxlist.addEventListener('error', this._handleFormError.bind(this));

                this.ajaxlist.url = "/CRUD/List/" + this.oname;

                this.getItemsList().reallythis = this;
                this.getItemsList().addEventListener('selected-items-changed', this._selectedItemChanged);
            },
            getItemsList: function () {
                return null;
            },
            _selectedItemChanged: function () {
                // this here is vaadin-grid !!!
                var select = this.selection.selected();

                var reallythis = this.reallythis;

                if (select.length > 0) {
                    var index = select[0];

                    reallythis.key = reallythis.items[index][0];
                    reallythis.set('route.path', '/' + reallythis.key);

                    //this.async(function () {
                    //    this.$.itemsList.selection.deselect(index);
                    //}, 100);
                }
            },
            _itemsChanged: function () {
                //this.async(function () {
                //    if (this.$.listContent.offsetHeight > 0)
                //    {
                //        this.$.itemsList._render();
                //    }
                //    else {
                //        this._itemsChanged();
                //    }
                //}, 5);
            },
            _onSaved: function () {
                this.refresh();
            },
            _fastsearchChanged: function (fastsearch) {
                if (this.firstResponse) {
                    this.debounce('click', function () {

                        this.ajaxlist.params = { fastsearch: this.fastsearch };
                        this.ajaxlist.generateRequest();

                    }, 100);
                }
            },
        };
    })();
</script>
