<link rel="import" href="../lib/polymer/polymer.html">
<link rel="import" href="../lib/iron-ajax/iron-ajax.html">

<script>
    var AWSLBehaviors = AWSLBehaviors || {};

    (function () {
        AWSLBehaviors.FilterBehavior = {
            properties: {
                titleDialog: {
                    type: String,
                },
                topRecords: {
                    type: String,
                    value: "100",
                    reflectToAttribute: true
                },
                filterhref: {
                    type: String,
                },
                filterelement: {
                    type: String,
                },
                oname: {
                    type: String,
                },
                thefilter: {
                    type: Object,
                    value: function () { return null; }
                },
            },
            listeners: {
                'iron-overlay-closed': '_filterDialogClosed'
            },
            wasAttached: false,
            attached: function () {
                if (this.wasAttached) {
                    return;
                }
                this.wasAttached = true;

                this.async(function () {
                    this.importHref(this.filterhref, function (e) {

                        var newElement = document.createElement(this.filterelement);
                        newElement.id = "theelement";

                        this.thefilter = Polymer.dom(this.getMain()).appendChild(newElement);

                        //this.async(function () {
                        //    this.getDialog().prepareFilter();
                        //});

                    }, function (e) {
                        debugger;
                    });
                });
            },
            getMain: function () {
                return null;
            },
            getDialog: function () {
                return null;
            },
            _openFilter: function () {
                this.getDialog().open();
            },
            _filterDialogClosed: function (event) {
                this.fire('awsl-closefilter', { ok: !event.detail.canceled });
            },
        };
    })();
</script>
