<link rel="import" href="../lib/polymer/polymer.html">
<link rel="import" href="../lib/iron-ajax/iron-ajax.html">

<script>
    var AWSLBehaviors = AWSLBehaviors || {};

    (function () {
        AWSLBehaviors.ListEditorBehavior = {
            properties: {
                key: {
                    type: String,
                },
                oname: {
                    type: String,
                },
                listhref: {
                    type: String,
                },
                listelement: {
                    type: String,
                },
                edithref: {
                    type: String,
                },
                editelement: {
                    type: String,
                },
                ajaxlist: {
                    type: Object
                },
                items: {
                    type: Array,
                    observer: '_itemsChanged'
                },
                wasAttached: false,
            },
            _handleFormResponse: function (event) {
                this.items = event.detail.response;
            },
            _handleFormError: function (event) {
                debugger;
            },
            attached: function () {
                if (this.wasAttached) {
                    return;
                }
                this.wasAttached = true;

                this.ajaxlist = document.createElement('iron-ajax');

                this.ajaxlist.method = 'GET';
                this.ajaxlist.contentType = 'application/json';

                this.ajaxlist.addEventListener('response', this._handleFormResponse.bind(this));
                this.ajaxlist.addEventListener('error', this._handleFormError.bind(this));

                this.async(function () {
                    this.importHref(this.listhref, function (e) {
                        Polymer.dom(this.getItemsList()).appendChild(this.getListTemplate());

                        this.ajaxlist.url = "/CRUD/List/" + this.oname;
                        this.ajaxlist.generateRequest();
                    }, function (e) {
                        debugger;
                    });
                });
            },
            getItemsList: function () {
                return null;
            },
            getListTemplate: function() {
                return null;
            },
            _onSaved: function () {
                this.ajaxlist.generateRequest()
            }
        };
    })();
</script>
