<link rel="import" href="../lib/polymer/polymer.html">

<script>
    var AWSLBehaviors = AWSLBehaviors || {};

    (function () {
        AWSLBehaviors.ElementBehavior = {
            properties: {
                parentElement: {
                    type: Object
                },
                elements: {
                    type: Array,
                    value: function () { return []; }
                },
                dataNames: {
                    type: Array,
                    value: function () { return []; }
                },
                item: {
                    type: Object,
                    notify: true,
                    value: function () { return {}; }
                },
            },

            listeners: {
                'awsl-element-register': '_registerElement',
                'awsl-element-unregister': '_unregisterElement',
                'iron-form-element-register': '_registerIronFormElement',
                'iron-form-element-unregister': '_unregisterElement',
            },

            attached: function () {
                this.fire('awsl-element-register');
            },

            detached: function () {
                if (this.parentElement) {
                    this.parentElement.fire('awsl-element-unregister', { target: this });
                }
            },
            _registerElement: function (e) {
                // Get the actual element that fired the event
                var element = Polymer.dom(e).rootTarget;

                if (element !== this) {
                    element.parentElement = this;
                    this.elements.push(element);

                    e.stopPropagation();

                    return element;
                }
                return null;
            },
            _unregisterElement: function (e) {
                var target = e.detail.target;

                if (target) {
                    var index = this.elements.indexOf(target);
                    if (index > -1) {
                        this.elements.splice(index, 1);
                    }
                }

                e.stopPropagation();
            },
            _registerIronFormElement: function (e) {
                // Get the actual element that fired the event
                var element = this._registerElement(e);

                if (element != null)
                {
                    var name = element.getAttribute('data-field');

                    element.dataFieldName = name;

                    if (this.dataNames.indexOf(name) == -1)
                    {
                        this.dataNames.push(name);
                    }

                    element.setData = function (fromserver) {
                        var name = this.dataFieldName;

                        if (name != null) {
                            var value = fromserver.data[name];

                            if (this.type == 'checkbox' ||
                                this.type == 'radio' ||
                                this.getAttribute('role') == 'checkbox' ||
                                this.getAttribute('role') == 'radio' ||
                                this['_hasIronCheckedElementBehavior']) {

                                this.checked = value == 'True' || value == '1' || value == 'true';
                            }
                            else {
                                this.value = value;
                            }
                        }
                    };
                    element.getDataField = function () {
                        var name = this.dataFieldName;

                        if (name != null) {
                            var value;

                            if (this.type == 'checkbox' ||
                                this.type == 'radio' ||
                                this.getAttribute('role') == 'checkbox' ||
                                this.getAttribute('role') == 'radio' ||
                                this['_hasIronCheckedElementBehavior']) {

                                value = this.checked ? 'True' : 'False';
                            }
                            else {
                                value = this.value;
                            }

                            return value;
                        }

                        return "";
                    };
                }

                e.stopPropagation();
            },

            setData: function (fromserver) {
                for (var el, i = 0; el = this.elements[i], i < this.elements.length; i++) {
                    el.setData(fromserver);
                }
            },
            getData: function (dataNames, root) {

                root.data = [];

                for (i = 0; i < dataNames.length; i++) {
                    root.data.push("");
                }

                for (var el, i = 0; el = this.elements[i], i < this.elements.length; i++) {
                    var index = dataNames.indexOf(el.dataFieldName);

                    if (index > -1)
                    {
                        root.data[index] = el.getDataField();
                    }
                }
            }
        };
    })();
</script>
