<link rel="import" href="../../../lib/polymer/polymer.html">

<script>
    var AWSLBehaviors = AWSLBehaviors || {};

    (function () {
        AWSLBehaviors.ElementBehavior = {
            properties: {
                parentElement: {
                    type: Object
                },
                elements: {
                    type: Array
                }
            },

            listeners: {
                'awsl-element-register': '_registerElement',
                'awsl-element-unregister': '_unregisterElement',
            },

            registered: function () {
                this.elements = [];
            },

            attached: function () {
                this.fire('awsl-element-register');
            },

            detached: function () {
                if (this.parentElement) {
                    this.parentElement.fire('awsl-element-unregister', { target: this });
                }
            },
            _registerElement: function (e) {
                // Get the actual element that fired the event
                var element = Polymer.dom(e).rootTarget;

                element.parentElement = this;
                this.elements.push(element);

                e.stopPropagation();
            },
            _unregisterElement: function (e) {
                var target = e.detail.target;

                if (target) {
                    var index = this.elements.indexOf(target);
                    if (index > -1) {
                        this.elements.splice(index, 1);
                    }
                }

                e.stopPropagation();
            },
        };
    })();
</script>
