@model BusinessBaseDecorator
@{
    Layout = "";
}
<link rel="import" href="/lib/polymer/polymer.html">

<dom-module id="aswd-simplelistitem">
    <template>
        <div class="primary">
            [[item.name]]
        </div>
    </template>
    <script>
        Polymer({
            is: 'aswd-simplelistitem',
            properties: {
                item: {
                    type: Object,
                },
            },
        });
    </script>
</dom-module>
