@model BusinessBaseDecorator
@{
    Layout = "_CRUDLayout";

    string componentName = AweShur.Web.CRUDLocations.ComponentsPrefix + "-" + Model.ObjectName.ToLower() + "edit";
}

<dom-module id="@(componentName)">
    <template>
        <style include="shared-styles"></style>
        <div class="inputs">
            @foreach (PropertyDefinition prop in Model.ListProperties)
            {
                if (!prop.IsIdentity)
                {
                    @Html.PolEditor(Model, prop.FieldName)
                }
            }
        </div>
    </template>
    <script>
    Polymer({
        is: '@(componentName)',
        behaviors: [AWSLBehaviors.ElementBehavior],
    });
    </script>
</dom-module>
