@model BusinessBaseDecorator
@{
    Layout = "";

    string componentName = AweShur.Web.CRUDLocations.ComponentsPrefix + "-simplelistitem";
}
<link rel="import" href="/lib/polymer/polymer.html">

<dom-module id="@(componentName)">
    <template>
        <style include="shared-styles"></style>
        <div class="primary">
            [[item.name]]
        </div>
    </template>
    <script>
        Polymer({
            is: '@(componentName)',
            properties: {
                item: {
                    type: Object,
                },
            },
        });
    </script>
</dom-module>
