<!DOCTYPE html>
<html>
<head>
    <link rel="import" href="/lib/polymer/polymer.html">
    <link rel="import" href="/AWSLib/awsl-element-behavior">
    <link rel="import" href="/AWSLib/awsl-filter-element-behavior">

    @RenderSection(PolymerHtmlHelper.CRUDElementsTAG, required: false)
    @RenderBody()
</head>
<body>
</body>
</html>
