@{
    bool error = false;
    string msgError = "";
    string componentName = "";
    string listhref = "";
    string edithref = "";
    string listelement = "";
    string editelement = "";

    try
    {
        string eref = this.Context.Request.Query["e"].NoNullString();

        if (eref == "")
        {
            throw new Exception("Query parameter 'e' missing");
        }
        else
        {
            int? idappuser = AppUser.IDAppUser(Context);
            AweShur.Web.Demo.Views.Elements.Locations.LocationItem item = AweShur.Web.Demo.Views.Elements.Locations.Item(eref);
            string folder = item.Folder;
            string controlName = item.ControlName;
            string objectName = item.ObjectName;

            if (controlName == "")
            {
                controlName = folder;
            }

            componentName = "app-" + eref;

            if (folder == "Simple")
            {
                eref = "simple";
            }

            if (objectName == "")
            {
                objectName = controlName;
            }

            listhref = "/Elements/Load/" + folder + "/" + controlName + "ListItem/" + objectName + "/" + idappuser;
            edithref = "/Elements/Load/" + folder + "/" + controlName + "Edit/" + objectName + "/" + idappuser;
            listelement = "aswd-" + eref + "listitem";
            editelement = "aswd-" + eref + "edit";

        }
    }
    catch(Exception exp)
    {
        error = true;
        msgError = exp.ToString();
    }

    Layout = "";
}
<link rel="import" href="/lib/polymer/polymer.html">
<link rel="import" href="/elements/lib/awsl-listeditor/awsl-listeditor.html">

<dom-module id="@componentName">
    <template>
        @if (error)
        {
            <div>@msgError</div>
        }
        else
        {
            <awsl-listeditor oname="[[oname]]" route="{{route}}" path="[[name]]" title="" id="le"
                listhref='@listhref' listelement="@listelement"
                edithref='@edithref' editelement="@editelement"></awsl-listeditor>
        }
    </template>
    <script>
    Polymer({
        is: '@componentName',
        properties: {
            oname: {
                type: String
            },
            route: {
                type: Object,
                notify: true
            }
        },
        refresh: function()
        {
            this.$.le.refresh();
        }
    });
    </script>
</dom-module>
