<link rel="import" href="../lib/polymer/polymer.html">
<link rel="import" href="../AWSLib/awsl-control-behavior">

<script>
    var AWSLBehaviors = AWSLBehaviors || {};

    (function () {
        AWSLBehaviors.SelectorBehaviorImpl = {
            properties: {
                listName: {
                    type: String,
                    value: ""
                },
                labelText: {
                    type: String,
                    value: ""
                },
                listItems: {
                    type: Array,
                },
            },
            isSelector: true,
        };

        AWSLBehaviors.SelectorBehavior = [AWSLBehaviors.ElementBehavior, AWSLBehaviors.SelectorBehaviorImpl]
    })();
</script>
