<link rel="import" href="../lib/polymer/polymer.html">
<link rel="import" href="../AWSLib/awsl-control-behavior">

<script>
    var AWSLBehaviors = AWSLBehaviors || {};

    (function () {
        AWSLBehaviors.SelectorBehaviorImpl = {
            properties: {
                listName: {
                    type: String,
                },
                label: {
                    type: String,
                },
                listItems: {
                    type: Array,
                    value: function () { return []; }
                },
                isSelector: {
                    type: Boolean,
                    value: true
                },
            },
            setListItem: function (fromserver) {
                if (fromserver.listItems != null && this.listName != "") {
                    this.listItems = fromserver.listItems[this.listName];
                }
            },
            setData : function (fromserver) {
                var name = this.dataFieldName;

                if (name != null) {
                    var value = fromserver.data[name];

                    if (!this.value || this.value.toString().trim() != value) {
                        this.value = value;
                    }
                }
            },
            getDataField: function () {
                var name = this.dataFieldName;

                if (name != null) {
                    return this.value;
                }

                return "";
            }
        };

        AWSLBehaviors.SelectorBehavior = [AWSLBehaviors.ControlBehavior, AWSLBehaviors.SelectorBehaviorImpl]
    })();
</script>
