<link rel="import" href="../lib/polymer/polymer.html">
<link rel="import" href="../AWSLib/awsl-control-behavior">

<script>
    var AWSLBehaviors = AWSLBehaviors || {};

    (function () {
        AWSLBehaviors.SelectorBehaviorImpl = {
            properties: {
                objectName: {
                    type: String,
                    observer: '_parameterChange'
                },
                listName: {
                    type: String,
                    observer: '_parameterChange'
                },
                label: {
                    type: String,
                },
                listItems: {
                    type: Array,
                    value: function () { return []; }
                },
                parameter: {
                    type: Number,
                    value: 0,
                    observer: '_parameterChange'
                },
                isSearch: {
                    type: Boolean,
                    value: false
                }
            },
            _parameterChange: function (newValue, oldValue) {
                if (this.listName !== undefined && this.objectName !== undefined) {
                    this.async(this.refresh);
                }
            },
            refresh: function (postFunction) {
                this.fire('awsl-getlist', {
                    objectName: this.objectName,
                    listName: this.listName,
                    parameter: this.parameter,
                    postFunction: postFunction
                });
            },
            setItems: function (newItems) {
                if (this.isSearch) {
                    this.listItems = newItems;

                    // First element is Id.
                    for (var prop in newItems[0])
                    {
                        this.value = newItems[0][prop];
                        break;
                    }
                }
                else {
                    this.listItems = newItems.slice(1);
                }
            },
            getData: function (fromServer) {
                var name = this.dataField;

                if (name !== undefined && name != null) {
                    var value = fromServer.data[name];

                    if (value === undefined)
                    {
                        value = "0";
                    }

                    if (!this.value || this.value.toString().trim() != value) {

                        if (this.listItems.length == 0)
                        {
                            var that = this;

                            this.refresh(function () {
                                that.getData(fromServer);
                            });
                        }
                        else
                        {
                            this.value = value;
                        }
                    }
                }
            },
            clearData: function () {
                var name = this.dataField;

                if (name !== undefined && name != null) {
                    if (this.listItems.length == 0) {
                        var that = this;

                        this.refresh(function () {
                            that.clearData();
                        });
                    }
                    else {
                        this.value = "0";
                    }
                }
            },
            setData: function (toServer) {
                var name = this.dataField;

                if (name != null) {
                    toServer.data[name] = this.value;
                }
            }
        };

        AWSLBehaviors.SelectorBehavior = [AWSLBehaviors.ControlBehavior, AWSLBehaviors.SelectorBehaviorImpl]
    })();
</script>
