<link rel="import" href="../lib/polymer/polymer.html">

<script>
    var AWSLBehaviors = AWSLBehaviors || {};

    (function () {
        AWSLBehaviors.ToolBarBehavior = {
            properties: {
                largeScreen: {
                    type: Boolean
                }
            },
            setToolBar: function(fromServer)
            {
                var newHidden = false;
                var refreshHidden = false;
                var deleteHidden = false;
                var okHidden = false;
                var okIcon = "done";
                var clearHidden = false;
                var prevnextInfoNeeded = fromServer.action == "load";
                var prevNextInfo = {
                    prevHidden: this.$.prev !== undefined ? this.$.prev.disabled : false,
                    nextHidden: this.$.next !== undefined ? this.$.next.disabled : false
                };
                
                if (fromServer.isNew) {
                    newHidden = true;
                    refreshHidden = true;
                    deleteHidden = true;
                    okHidden = false;
                    okIcon = "done";
                    clearHidden = false;
                    prevNextInfo.prevHidden = true;
                    prevNextInfo.nextHidden = true;
                    prevnextInfoNeeded = false;
                }
                else {
                    prevnextInfoNeeded = fromServer.action == "load" || fromServer.action == "ok";

                    newHidden = fromServer.isNew;
                    refreshHidden = fromServer.isNew;

                    if (fromServer.isDeleting) {
                        deleteHidden = true;
                        okHidden = false;
                        okIcon = "delete";
                        clearHidden = false;
                    }
                    else {
                        deleteHidden = false;
                        okHidden = !fromServer.isModified;
                        okIcon = "done";
                        clearHidden = !fromServer.isModified;
                    }
                }

                if (!fromServer.permission.delete) {
                    deleteHidden = true;
                }
                if (!fromServer.permission.add) {
                    newHidden = true;
                }

                if (this.$.new !== undefined)
                    this.$.new.hidden = newHidden;
                if (this.$.refresh !== undefined)
                    this.$.refresh.hidden = refreshHidden;
                if (this.$.delete !== undefined)
                    this.$.delete.hidden = deleteHidden;
                if (this.$.ok !== undefined) {
                    this.$.ok.hidden = okHidden;
                    this.$.ok.icon = okIcon;
                }
                if (this.$.clear !== undefined)
                    this.$.clear.hidden = clearHidden;

                if (prevnextInfoNeeded && this.$.prev !== undefined && this.$.next !== undefined)
                {
                    prevNextInfo.prevHidden = true;
                    prevNextInfo.nextHidden = true;
                    prevNextInfo.keyPrev = '';
                    prevNextInfo.keyNext = '';

                    this.fire('awsl-prevnextinfo', { key: fromServer.keyObject, prevNextInfo: prevNextInfo })

                    this.keyPrev = prevNextInfo.keyPrev;
                    this.keyNext = prevNextInfo.keyNext;
                }

                if (this.$.prev !== undefined)
                    this.$.prev.disabled = prevNextInfo.prevHidden;
                if (this.$.next !== undefined)
                    this.$.next.disabled = prevNextInfo.nextHidden;
            },
            _onRefresh: function()
            {
                this.fire('awsl-refresh');
            },
            _onNew: function()
            {
                this.fire('awsl-new');
            },
            _onDelete: function () {
                this.fire('awsl-delete');
            },
            _onOK: function () {
                this.fire('awsl-ok');
            },
            _onClear: function () {
                this.fire('awsl-clear');
            },
            _onClose: function () {
                this.fire('awsl-close');
            },
            keyPrev: '',
            keyNext: '',
            _onPrev: function () {
                this.fire('awsl-prev', { key: this.keyPrev });
            },
            _onNext: function () {
                this.fire('awsl-next', { key: this.keyNext });
            }
        };
    })();
</script>
